header {
  background-color: rgba(0 0 0 /95);
  min-height: 81.5px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
}

header a {
  all: unset;
  padding: 10px;
}
.navLink:hover,
.userOnPage {
  color: rgb(239, 221, 141);
}
nav {
  display: flex;
  gap: 20px;
  flex-basis: 60%;
  align-items: center;
}
.verticalLine {
  width: 0px;
  height: 25px;
  margin: 0;
  border-left: 1px solid white;
  border-right: 0;
}
#Logo {
  margin-left: 10vw;
  border-radius: 50%;
  border: 2px solid white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}
#logoText {
  font-size: 25px;
  font-family: Georgia;
  font-weight: 500;
}
