header {
  background-color: rgba(0 0 0 /95);
  min-height: 80px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header p {
  text-transform: uppercase;
  font-weight: 500;
}
header p a {
  all: unset;
}
nav p:hover {
  color: rgb(239, 221, 141);
}
nav {
  /*Need to display vertical lines in between each nav*/
  display: flex;
  gap: 50px;
  flex-basis: 60%;
}
#Logo {
  margin-left: 50px;
  border-radius: 50%;
  border: 2px solid white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}
#logoText {
  font-size: 25px;
  font-family: Georgia;
  font-weight: 500;
}
